name: sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install gspread oauth2client requests

    - name: Create key.json
      run: |
        echo '${{ secrets.GOOGLE_SERVICE_KEY }}' > key.json

    - name: Run sync script
      run: python3 main.py
